header
    .header__container
        .logo
            p.logo__text Языки программирования

        nav
            a(href='index.html').nav__link Главная
            a(href='rate.html').nav__link Рейтинг
            a(href='about.html').nav__link Обо мне

