extends companents/template
block variables
  - var title = "Языки программирования"
  - var gal = {'Java': 'java', 'C++': 'cpp', 'C-Sharp': 'cs'}
  -
    var articles = {'Java': 'Java - это объектно-ориентированный язык программирования, который широко используется для создания приложений на разных платформах. Он был создан для того, чтобы быть кроссплатформенным, что означает, что написанный на нем код может быть запущен на любой операционной системе без необходимости переписывать его. Java также имеет огромную экосистему, которая включает в себя множество библиотек, фреймворков и инструментов для разработки приложений.',
      'C++': 'C++ - это язык программирования, который используется для создания высокопроизводительных приложений, таких как игры, системное программное обеспечение и другие приложения, которые требуют быстродействия и эффективности. C++ является объектно-ориентированным языком программирования и имеет возможности работы с низкоуровневыми операциями, такими как работа с памятью и управление ресурсами.',
      'C#': 'C# - это объектно-ориентированный язык программирования, который был разработан компанией Microsoft для создания Windows-приложений и веб-приложений. C# имеет множество функций, которые делают его привлекательным для разработки приложений, таких как строгая типизация, сборка мусора и поддержка многопоточности. C# также имеет интегрированную среду разработки (IDE) Visual Studio, которая упрощает процесс разработки приложений.'
      }
  mixin buildArticles(artic)
    each value, key in artic
      .article
        h3.article__title= key
        p.article__description= value
block content
  section.gallery
    each value, key in gal
      .gallery__picture
        img(src=require('./images/' + value + '.svg') alt=key)
  section.articles
    +buildArticles(articles)
