extends companents/template
block variables
    - var tableHeader = ['Название', 'Год выпуска', 'Тип языка', 'Рейтинг', 'Октябрь 2023', 'Октябрь 2022']
    -
        var tableContent = [
            ['Python', '1991', 'Скриптовый', '14.85', '1', '1'],
            ['C', '1972', 'Компилируемый', '12.08', '2', '2'],
            ['C++', '1985', 'Компилируемый объектно-ориентированный', '10.67', '3', '4'],
            ['Java', '1995', 'Объектно-ориентированный', '8.92', '4', '3'],
            ['C#', '2000', 'Объектно-ориентированный', '7.71', '5', '5'],
            ['JavaScript', '1995', 'Скриптовый', '2.91', '6', '7'],
            ['Visual Basic', '1991', 'Объектно-ориентированный', '2.13', '7', '6'],
            ['PHP', '1995', 'Скриптовый', '1.9', '8', '9'],
            ['SQL', '1974', 'Язык структурированных запросов', '1.78', '9', '10'],
            ['Assembly language', '1949', 'Низкоуровневый', '1.64', '10', '8'],
            ['Go', '2009', 'Компилируемый', '1.37', '11', '11'],
            ['Scratch', '2007', 'Визуальный', '1.37', '12', '23'],
            ['Delphi/Object', '1995', 'Объектно-ориентированный', '1.30', '13', '18'],
            ['MATLAB', '1984', 'Вычислительный', '1.27', '14', '14'],
            ['Swift', '2014', 'Объектно-ориентированный', '1.07', '15', '15'],
            ['Fortran', '1957', 'Компилируемый', '1.02', '16', '19'],
            ['R', '1993', 'Математический', '0.96', '17', '12'],
            ['Kotlin', '2011', 'Объектно-ориентированный', '0.96', '18', '28'],
            ['Ruby', '1995', 'Объектно-ориентированный', '0.92', '19', '26'],
            ['Rust', '2010', 'Компилируемый', '0.91', '20', '20'],
            ['Classic Visual Basic', '1991', 'Объектно-ориентированный', '0.9', '21', '17'],
            ['SAS', '1966', 'Математический', '0.83', '22', '21'],
            ['Ada', '1980', 'Данные', '0.77', '23', '31'],
            ['COBOL', '1959', 'Компилируемый', '0.76', '24', '30'],
            ['Prolog', '1972', 'Декларативный', '0.7', '25', '25'],
            ['Lua', '1993', 'Скриптовый', '0.7', '26', '24'],
            ['Perl', '1987', 'Скриптовый', '0.64', '27', '22'],
            ['Julia', '2012', 'Компилируемый', '0.58', '28', '27'],
            ['D', '2001', 'Компилируемый', '0.56', '29', '38'],
            ['(Visual) FoxPro', '1984', 'Компилируемый', '0.53', '31', '32'],
            ['Dart', '2011', 'Объектно-ориентированный', '0.47', '31', '33'],
            ['Haskell', '1990', 'Функцианальный', '0.46', '32', '39'],
            ['Objective-C', '1984', 'Объектно-ориентированный', '0.45', '33', '13'],
            ['Transact-SQL', '1986', 'Базы данных', '0.45', '34', '37'],
            ['Lisp', '1958', 'Функцианальный', '0.41', '35', '26'],
            ['F#', '2005', 'Функцианальный', '0.4', '36', '36'],
            ['GAMS', '1979', 'Математический', '0.39', '37', 'None'],
            ['Scala', '2004', 'Объектно-ориентированный', '0.36', '38', '29'],
            ['VBScript', '1996', 'Скриптовый', '0.35', '39', '98'],
            ['Logo', '1967', 'Образовательный', '0.33', '40', '40'],
            ['PL/SQL', '1980', 'Базы данных', '0.28', '41', '25'],
            ['Bash', '1989', 'Unix', '0.27', '42', '47'],
            ['CFML', '1995', 'Скриптовый', '0.25', '43', 'None'],
            ['PowerShell', '2006', 'Скриптовый', '0.24', '44', '36'],
            ['Solidity', '2014', 'Block Chain', '0.24', '45', '42'],
            ['Scheme', '1975', 'Диалект', '0.24', '46', '41'],
            ['ABAP', '1983', 'Диалект', '0.22', '47', '35'],
            ['X++', '2002', 'Объектно-ориентированный', '0.22', '49', '49'],
            ['TypeScript', '2012', 'Диалект', '0.2', '49', '43'],
            ['Awk', '1977', 'Данные', '0.2', '50', '53']
        ]
mixin buildTable(the,t)
    table
        tr
            each t in the
                th=t
        each r in t
            tr
            each c in r
                td=c
block content
    section.table
        h1.table__title Рейтинг языков программирования
        +buildTable(tableHeader,tableContent)